# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=us-east-1

# SQS
SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789/quakewatch-raw-events

# DynamoDB Table Names
EARTHQUAKES_TABLE=earthquakes
ALERTS_TABLE=alerts
CITIES_TABLE=cities

# Ingester Config
USGS_FEED_URL=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson
POLL_INTERVAL_SECONDS=60

# Alert Thresholds
HIGH_SEVERITY_MAG=6.0
HIGH_SEVERITY_IMPACT=80
MEDIUM_SEVERITY_MAG=4.5
MEDIUM_SEVERITY_IMPACT=40

# API Config
API_PORT=8000
